[profile.default]
src = "src"
out = "out"
test = "test"
libs = ["lib"]
via_ir = true
optimizer_runs = 999999 # Etherscan does not support verifying contracts with more optimizer runs.
bytecode_hash = "none"

[profile.default.fuzz]
runs = 4096

[profile.default.invariant]
fail_on_revert = true

[profile.default.fmt]
wrap_comments = true

[profile.build]
test = "/dev/null"
script = "/dev/null"

[profile.test]
via_ir = false

[profile.test.fuzz]
runs = 16384

[profile.test.invariant]
runs = 32
depth = 1024
fail_on_revert = true


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
