[profile.default]
src = "src"
out = "out"
test = "test"
libs = ["lib"]
via_ir = true
optimizer = true
optimizer_runs = 999999
bytecode_hash = "none"
evm_version = "paris"

[fuzz]
runs = 4096

[invariant]
runs = 32
depth = 1024
fail_on_revert = true

[fmt]
wrap_comments = true

[lint]
exclude_lints = [
    "unsafe-typecast",
    "mixed-case-function",
    "unaliased-plain-import",
]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
