[profile.default]
src = "src"
out = "out"
test = "test"
libs = ["lib"]
via-ir = true

[profile.default.fuzz]
runs = 4096

[profile.default.fmt]
wrap_comments = true


[profile.build]
via-ir = true
test = "/dev/null"
script = "/dev/null"


[profile.test]
via-ir = false


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
